* {
  box-sizing: border-box;

}

Button:hover {
  opacity: 0.5;
}

.app-container {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  position: relative;
  max-width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.header-style {
  background-color: white;
  padding: 0;

}

.logo {
  width: 180px;
}

.footer-style {
  background-color: #05004E;
  color: white;
  text-align: center;
  /* margin-top: 500px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;

}

.footer-style p {
  padding-top: 40px;
}

.modalHeader {
  background-image: url(../images/star.png);
  background-position: 20% 0%;

}

/* Homepage */
.hero-container {
  width: 100%;
  background-color: #76B39D;


}

.heroTxt-container {
  margin-left: 50px;
  margin-top: 45px;
}

.wichies-container {
  margin-left: 10%;
  margin-top: 20px;
}

.wichies-container img {
  width: 200px
}

.hero-button-contaienr {
  margin-left: 8%;
  margin-top: 50px;
}


.hero-button {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 15px 1.5em 0; */
  /* padding: 7px 10px; */
  min-width: 70%;
  max-width: 100%;
  color: white;
  font-size: 16px;
  background: #FD5F00;
  border: solid 1px #FD5F00;
  border-radius: 10px;
  height: 60px;
  margin-top: 10px;

}

.hero-button:hover {
  transform: translate(0, -5px);

}

.hero-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -27px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #FD5F00;

}

.hero-wizard {
  margin-left: 100px;
}

.right-hero {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 30px;
  /* text-align: center; */


}

.hero-txt-big-container,
.hero-txt-sml-container {
  position: relative;
  text-align: center;
  margin-bottom: 24px;

}

.hero-txt-big-container {
  margin-left: 20%;
}

.hero-txt-big-container h3 {
  width: 270px;
  border: solid black 1px;
  background-color: #F4D160;
  padding: 6px 0 6px 60px;
  font-weight: bold;

}

.hero-txt-sml-container h4 {
  width: 220px;
  border: solid black 1px;
  background-color: #F4D160;
  padding: 6px 0 6px 20px;
  font-weight: bold;

}

/* .sml-right-txt {
  padding-left: -10px;
} */

.hero-icon-big-container {
  width: 50px;
  height: 50px;
  background-color: #F9F8EB;
  border: solid black 1px;
  position: absolute;
  top: 15px;
  left: -25px;
}

.hero-icon-sml-container {
  width: 45px;
  height: 45px;
  background-color: #F9F8EB;
  border: solid black 1px;
  position: absolute;
  top: 13px;
  left: -23px;
}

.star-container {
  text-align: right;
}

/* quizList */
.title-conatiner {
  position: relative;
}

.title-conatiner img {
  padding-left: 3px;
}

.title-conatiner h2 {
  min-width: 60%;
  border: solid black 1px;

  background-color: #F4D160;
  padding: 6px 0 6px 50px;

}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: #F9F8EB;
  border: solid black 1px;
  position: absolute;
  top: 6px;
  left: -20px;
}

.quizList-container {
  padding: 50px;
  padding-bottom: 200px;
}

/* .quizCards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: -24px;

} */

.quizCard {
  border: solid black 1px;
  border-radius: 6px;
  background-color: #F9F8EB;
  padding: 30px;
  text-align: center;


}

.quizCards-container {
  width: auto;
}


.card-title {
  text-align: center;
}

.quiz-img {
  width: 90%;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 15px;
  border: solid black 1px;

}


.card-style {
  margin-top: 30px;
  border: solid black 1px;
  background-color: #F9F8EB;

  box-shadow: 9px 5px 23px -5px rgba(241, 175, 98, 0.75);
  -webkit-box-shadow: 9px 5px 23px -5px rgba(241, 175, 98, 0.75);
  -moz-box-shadow: 9px 5px 23px -5px rgba(241, 175, 98, 0.75);
}

/* userPage */
.userPage-container {
  padding: 30px;
  padding-bottom: 200px;
}

/* user Navi */
.userPageNavi-container {
  margin-top: 0;
  margin-bottom: 30px;
}

.userPageNavi-container Button:hover {
  opacity: 1;
}

.creteQuizbtn-container {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 15px 1.5em 0; */
  /* padding: 7px 10px; */
  min-width: 70%;
  max-width: 100%;
  color: white;
  font-size: 16px;
  background: #FD5F00;
  border: solid 1px #FD5F00;
  border-radius: 10px;
  height: 60px;
  margin-top: 10px;

}

.creteQuizbtn-container:hover {
  transform: translate(0, -5px);
  box-shadow: 0 5px 10px #FD5F00;
}

.creteQuizbtn-container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 99%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #FD5F00;

}


.creteQuizbtn-wrppaer {
  position: relative;
}

.witch-container {
  position: absolute;
  top: -20px;
  right: 8%;
}

.findQuizbtn-container {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 15px 1.5em 0; */
  /* padding: 7px 10px; */
  min-width: 70%;
  max-width: 100%;
  color: white;
  font-size: 16px;
  background: #05004E;
  border: solid 1px #05004E;
  border-radius: 10px;
  height: 60px;
  margin-top: 10px;

}

.findQuizbtn-container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 99%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #05004E;

}


.findQuizbtn-container:hover {
  transform: translate(0, -5px);
  box-shadow: 0 5px 10px #05004E;
}


/* CreatedQuizList */
.createdQuizList-Container {
  background-color: #76B39D;
  padding: 20px;
}

.createdQuizCard-container {
  width: 100%;
  margin: 0 auto;
  background-color: #F9F8EB;
  border: solid 1px black;

}

.createdImg-container {
  text-align: start;
  padding: 15px;

}

.createdImg-container img {
  border: solid 1px black;
  width: 200px;
}

.createdQuizText-container {
  padding: 15px;

}

.createdQuizText-container Button {
  margin-right: 5px;
}

.icon-created-container {

  text-align: center;
  padding-right: 5px;
}

.icon-created-container img {
  width: 35px;
  margin-top: 3px;
}





/* PlayedQuizList */

.title-created-conatiner {
  margin-left: 15px;

}

.title-created-conatiner .history {
  background-color: #76B39D;
  margin-top: -8px;
}

.playedQuizList-Container {
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  border: #F4D160 solid 10px;
}

.linkBtn-container {
  text-align: center;
}


.playedCard-container {
  text-align: center;

}

.playedCard {
  margin: 0 auto;
  width: 80%;
  background-color: #F9F8EB;
  border-radius: 0;
  border: solid 1px black;
}

.playedCard p {
  margin-top: 10px;
}

.playedCard p span {
  font-weight: bold;
}

.playedCard Button {
  margin: 5px;
  width: 200px;
}

@media (max-width: 960px) {
  .wichies-container img {
    width: 150px
  }

  .hero-txt-big-container,
  .hero-txt-sml-container {

    margin-bottom: 34px;

  }

  .hero-txt-big-container h3 {
    width: 200px;
    padding: 6px 0 6px 10px;
    font-size: 20px;
  }

  .hero-txt-sml-container h4 {
    width: 180px;
    font-size: 20px;
  }

  .hero-icon-big-container {
    width: 50px;
    height: 50px;
    top: 5px;

  }

  .hero-icon-sml-container {
    width: 45px;
    height: 45px;
    top: 8px;

  }

  .wichies-container {
    margin-left: 5%;

  }


}



@media (max-width: 758px) {
  .hero-button-contaienr {
    margin-left: 10%;

  }

  .wichies-container {
    margin-left: 10%;

  }

  .right-hero {
    padding-left: 20%;
  }


  .findQuizbtn-container:before {
    left: -30px;
    border-right: 15px solid #05004E;
    border-left: 15px solid white;
  }

  .findQuizbtn-wrapper {
    margin-top: 10px;
  }

  .findQuizbtn-container {
    margin-left: 30%;
  }

  .crystalBall-container {

    left: 8%;
  }

  .createdQuizCard-container {
    text-align: center;
  }

  .createdImg-container {
    text-align: center;

  }

  .createdQuizText-container p {
    text-align: start;
    padding: 0 20px;
  }

  .createdImg-container img {
    margin-top: 20px;
    width: 90%;
  }

  .playedCard {
    width: 90%;
  }

  .playedQuizList-Container {

    margin-left: 0;
    margin-top: 30px;

  }


}

@media (max-width: 480px) {

  .crystalBall-container {
    left: 3%;
  }

  .witch-container {
    right: 3%;
  }

  .right-hero {
    padding-left: 10%;
  }
}