#lead-container {
    background-color: rgb(5, 0, 78);
    position: relative;
    padding-bottom: 50px;
    height: 100vh;
    box-sizing: border-box;

}

.leaderboard-master-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    /* position: relative;
    padding-bottom: 210px; */
}

.star-icon {
    width: 100%;
    height: 100px;
    background-image: url(../images/star.png);
    animation: flowing 10s linear infinite;
    transform: translateX(100px);
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-fill-mode: backwords;
}


@keyframes flowing {
    100% {
        transform: translateX(-100px);
    }
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgb(5, 0, 78);
    padding: 20px;
    padding-bottom: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.leaderboard {
    border-radius: 15px;
    width: 60%;
    padding-bottom: 30px;
    z-index: 1;
    /* padding-top: 10px; */

}

.leaderboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 248, 235);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}

.leaderboard-li:nth-of-type(1n+16) {
    display: none;
}

.leaderboard-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaderboard-li {
    width: 100%;
    border-bottom: dashed 2px #F4D160;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}

.leaderboard-li span {
    padding-bottom: 5px;
}

.leaderboard-btn {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    color: rgb(249, 248, 235);
    ;
    font-size: 16px;
    background: rgb(5, 0, 78);
    border: solid 1px rgb(249, 248, 235);
    border-radius: 25px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.leaderboard-play-btn {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    background: #FD5F00;
    border: solid 1px black;
    border-radius: 25px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.leaderboard-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .leaderboard-footer-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: fixed;
    bottom: -10%;
}

.leaderboard-footer-icon img {
    width: 100%;
    padding-bottom: 50px;
    object-fit: cover;

} */
.leaderboard-footer-icon {
    background-image: url(../images/greentown.png);
    background-position: 20% 0%;
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 100px;


}